.root {
    --useful: #b93428;
    --use: #FF9999;
    --midaqua: mediumaquamarine;
    --greyel: greenyellow;
    --orange1: #a86705;
    --orange2: #ee9209;
    --blue2: #1d2a35;
    --blue3: #0d1721;
}

.genrefbackground {
    background-color: #0d1721;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    line-height: 1.5;
}

/* Main Column? */

.pagecontent {
    background-color: transparent;
    margin: 0;
    width: 80%;
    padding: 0 1%;
    display: flex;
    flex-direction: column;
}

.pagecontent h1,
.pagecontent h2 {
    font-weight: lighter;
}

.pagecontent h2 {
    border-bottom: .5px solid #a86705;
}

.pagecontent h3 {
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 1px;
}

.pagecontent p {
    margin-top: 1px;
    font-size: large;
    margin-bottom: 3px;
}

.cssprop {
    color: #ee9209 !important;
    background-color: #1d2a35;
    padding: .5px;
}

.h1btmborder {
    border-bottom: .5px solid #a86705;
}

.h3margintop {
    margin-top: 1px;
}

.boldtext {
    font-weight: bolder;
}


/* Reference Tables */
.reftable {
    font-family: Consolas,
        Menlo,
        "courier new",
        monospace;
    border-collapse: collapse;
    width: 85%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.reftable td,
.reftable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
}

.reftable tr:nth-child(even) {
    background-color: #1d2a35;
}

/* Search Bar */

.search [type="text"]::placeholder,
.attrsearch [type="text"]::placeholder {
    text-align: center;
    font-size: larger;
}

.search [type="text"],
.attrsearch [type="text"] {
    width: 85%;
    border: 1px solid #a86705;
    box-sizing: border-box;
    padding: 1% 2%;
    border-radius: 10px 10px 0 0;
}

.attrsearch [type="text"] {
    width: 95% !important;
}

.search [type="text"]:focus,
.attrsearch [type="text"]:focus {
    outline: none;
    border: 3px solid #a86705;
}

/* Color Tables */

.coltable {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    /* margin-right: auto; */
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

.coltable th {
    text-align: left;
}

.coltable th,
.coltable td {
    border: 1px solid #dddddd;
    padding: 8px;
}

/* Attribute table */

.attrtable {
    font-family: Consolas,
        Menlo,
        "courier new",
        monospace;
    border-collapse: collapse;
    width: 95%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.attrtable td,
.attrtable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    max-width: 500px !important;
    word-wrap: break-word;
}

.attrtable tr:nth-child(even) {
    background-color: #1d2a35;
}

/* Event Ref */
.extraborder {
    border-bottom: 1px dotted #a86705;
    padding: 0 0 20px 0;
}