.PageContentFooter {
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    overflow: auto;
}

.toprightfootstuff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    margin: 0;
}

.toprightfootstuff a {
    text-decoration: none !important;
    color: white;
}

.toprightfootstuff a:hover {
    color: #ee9209;
}

.forum-about {
    font-size: 15px;
    font-weight: bold;
}

.forum-about>a {
    padding: 0 5px;
}

.forum-about a:hover {
    color: #ee9209;
}

.report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.report p:hover {
    cursor: pointer;
    color: #a86705;
}

.reportmessage {
    text-align: center;
    background-color: #1d2a35;
    padding: 5%;
    padding-top: 1%;
}

.footerinfo {
    text-align: center;
}