/* base styles */
.root {
    --useful: #b93428;
    --use: #FF9999;
    --midaqua: mediumaquamarine;
    --greyel: greenyellow;
    --orange1: #a86705;
    --orange2: #ee9209;
    --blue2: #1d2a35;
    --blue3: #0d1721;
    --htmlorange: #e54d26;
    --cssblue: #3799d6;
    --jsyellow: #f7df1d;
}


.genexcbackground {
    background-color: #0d1721;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    line-height: 1.5;
}

/* Main Column? */

.pagecontent {
    background-color: transparent;
    margin: 0;
    width: 99%;
    padding: 0 1%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.exhomepagecontent {
    background-color: transparent;
    margin: 0;
    width: 80%;
    padding: 0 1%;
    display: flex;
    flex-direction: column;
}

.exhomepagecontent a{
color: #ee9209;
text-decoration: underline aliceblue;
}

.pagecontent h1,
.pagecontent h2,
.exhomepagecontent h1,
.exhomepagecontent h2 {
    font-weight: lighter;
}

.pagecontent h2,
.exhomepagecontent h2 {
    border-bottom: .5px solid #a86705;
}

.pagecontent h3,
.exhomepagecontent h3 {
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 1px;
}

.pagecontent h4,
.exhomepagecontenth4 {
    font-weight: lighter;
    margin-bottom: 2px;
}

.pagecontent p,
.exhomepagecontent p {
    margin-top: 1px;
    font-size: large;
    margin-bottom: 3px;
}

.cssprop {
    color: #ee9209 !important;
    background-color: #1d2a35;
    padding: .5px;
}

.h1btmborder {
    border-bottom: .5px solid #a86705;
}

.h3margintop {
    margin-top: 1px;
}

.boldtext {
    font-weight: bolder;
}

/* Extra Border */
.extraborder {
    border-bottom: 1px dotted #a86705;
    padding: 0 0 20px 0;
}

/* Excercise Starters */

.htmlex,
.cssex,
.jsex {
    text-align: center;
    padding: 75px 200px;
    width: max-content;
    margin-top: 20px;
    border-radius: 15px;
    color: #0d1721;
}

.htmlex h1,
.cssex h1,
.jsex h1 {
    font-weight: bolder !important;
    font-size: 50px;
}

.htmlex h3,
.cssex h3,
.jsex h3 {
    font-weight: bolder !important;
    font-size: 35px;
    background-color: #0d1721;
    color: #ffffff;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
}

.htmlex a,
.cssex a,
.jsex a {
    text-decoration: none;
}

.htmlex h3:hover,
.cssex h3:hover,
.jsex h3:hover {
    /* text-decoration: none; */
    background-color: transparent;
    border: solid 2px #0d1721;
    color: #0d1721;
}

.htmlex {
    background-color: #e54d26;
    margin-right: auto;
}

.cssex {
    background-color: #3799d6;
    margin-left: auto;
}

.jsex {
    background-color: #f7df1d;
    margin-right: auto;

}

.sTgle {
    padding: 20px 10px 10px;
}

.sTgle:hover {
    cursor: pointer;
}

/* Footer 100% */
.footer100 {
    background-color: #0d1721;
    color: white;
    width: 98%;
    padding: 0 1%;
}


/* Start Excercise Tab */

.htmlstexc,
.cssstexc,
.jsstexc {
    border-radius: 15px;
    padding: 25px 50px;
    text-align: left;
    width: 700px;
    margin-top: 20px;
    color: #0d1721;
}

.htmlstexc h1,
.cssstexc h1,
.jsstexc h1 {
    font-size: 35px;
    font-weight: bold;
}

.htmlstexc {
    background-color: #e54d26;
}

.cssstexc {
    background-color: #3799d6;
}

.jsstexc {
    background-color: #f7df1d;

}

.htmlstexc h3,
.cssstexc h3,
.jsstexc h3 {
    font-weight: bolder !important;
    font-size: 35px;
    background-color: #0d1721;
    color: #ffffff;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    max-width: fit-content;
}

.htmlstexc a,
.cssstexc a,
.jsstexc a {
    text-decoration: none;
}

.htmlstexc h3:hover,
.cssstexc h3:hover,
.jsstexc h3:hover {
    /* text-decoration: none; */
    background-color: transparent;
    border: solid 2px #0d1721;
    color: #0d1721;
}

/* Question styling */

.quesbg {
    background-color: #1d2a35;
    color: #ffffff;
    font-family: Consolas,
        Menlo,
        "courier new",
        monospace;
    width: fit-content;
    padding: 50px 5% 50px 5%;
    text-align: left;
    border-radius: 15px;
}

.quesbg [type="text"] {
    width: 100px;
    /*   width: max-content; */
    padding: 1px 2px;
    font-family: Consolas,
        Menlo,
        "courier new",
        monospace;
    font-size: large;
}


.quesbg [type="submit"],
.showAns,
.redo {
    margin-top: 50px;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 15px;
    color: #ffffff;
    border: none;
    font-size: large;
    font-family: 'Source Sans Pro',
        sans-serif;
    font-weight: bolder;
}

.quesbg [type="submit"] {
    background-color: #006400;
}

.quesbg [type="submit"]:hover {
    cursor: pointer;
    border: 1px solid #006400;
}

.showAns {
    background-color: #ee9209;
}

.redo {
    background-color: #8b0000;
}

.showAns:hover,
.redo:hover {
    background-color: #8b0000;
    cursor: pointer;
    border: 1px solid #8b0000;
    transition: ease-in-out 1s;
}

.excStatus {
    text-align: center;
    border: 1px solid #a86705;
    padding: 5px 10px;
    width: max-content;
}

.Submit_Show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stickyans {
    margin-left: auto;
}

/* wrong and right ans */

.wrongAns {
    background-color: #8b0000;
    color: white;
    padding: 3px;
}

.rightAns {
    background-color: #006400;
    color: white;
}