/* footer */
.footer {
    background-color: #1d2a35;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
}

.toprightfootstuff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 16px;
    margin: 0;
}

.toprightfootstuff a {
    text-decoration: none !important;
    color: white;
}

.toprightfootstuff a:hover {
    color: #ee9209;
}

.forum-about {
    font-size: 15px;
    font-weight: bold;
}

.forum-about>a {
    padding: 0 5px;
}

.forum-about a:hover {
    color: #ee9209;
}

.middlefooterstuff {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1px 16px;
}

.middlefooterstuff a {
    padding: 1px 5px;
}

.project {
    text-align: center;
}

.project>p a {
    color: white;
}

.project>p a:hover {
    color: #ee9209;
}

.randombtn {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.randombtn p {
    background-color: #ee9209;
    border-radius: 40px;
    padding: 15px 20%;
}

.randombtn>p:hover {
    cursor: pointer;
    background-color: #a86705;
}