@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'); */


:root {
  --useful: #b93428;
  --use: #FF9999;
  --midaqua: mediumaquamarine;
  --greyel: greenyellow;
  --orange1: #a86705;
  --orange2: #ee9209;
  --blue2: #1d2a35;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Embed Div */
.embedDiv{
  margin-top: 10px;
  margin-bottom: 10px;
}



/* inlinehtmlcode */
.inlinehtml {
  font-family: Consolas, Menlo, "courier new", monospace;
  font-size: 15px;
  color: var(--midaqua);
  line-height: 1.3;
}

.tagcolor {
  color: #ee9209 !important;
}

.attributecolor {
  color: #FF9999 !important;
}

.inlinehtml span {
  color: white;
}

/* inline css */

.inlinecss {
  font-family: Consolas, Menlo, "courier new", monospace;
  font-size: 15px;
  color: #FF9999 !important;
  line-height: 1.3;
}

.curlybracket {
  color: white !important;
}

.cselector {
  color: var(--midaqua) !important;
}

.cssvalue {
  color: #ee9209 !important;
}

/* inlinejs */

.inlinejs {
  font-family: Consolas, Menlo, "courier new", monospace;
  font-size: 15px;
  color: var(--midaqua);
  line-height: 1.3;
  word-wrap: break-word;
}

.inlinejs p {
  padding: .5%;
}

.jsfunval {
  color: #ee9209 !important;
}

.jsvh {
  /* js variables and function handlers */
  color: #FF9999 !important;
}

.tabbedjs {
  margin-left: 4% !important;
}


.inlinejs span {
  color: white;
  text-decoration: none;
  display: inline;
}

/* 404page */
.not-found {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 20px;
  height: 350px;
}

.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

/* body */
.content {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .gradient1 {
  padding: 20px;
  background-image: linear-gradient(#0d1721, #ee9209);
}

.gradient2 {
  padding: 20px;
  background-image: linear-gradient(#ee9209, #1d2a35);
}

.gradient3 {
  padding: 20px;
  background-image: linear-gradient(#1d2a35, #a86705);
}

.gradient4 {
  padding: 20px;
  background-image: linear-gradient(#a86705, #0d1721);
} */


.learnhtml {
  background-color: aliceblue !important;
  color: white;
  padding-top: 25px;
  padding-bottom: 35px;
  padding-left: 90px;
  padding-right: 90px;
  display: flex;
  flex-direction: row;
  width: auto;
}

.leftlearnhtml {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5%;
  width: 100%;
  text-align: center;
}

.leftlearnhtml h1 {
  font-size: 100px;
  margin: -18px 0 -20px;
  color: #0d1721;
}

.leftlearnhtml h3 {
  font-size: 19px;
  margin: 22.8px 5px;
  color: #0d1721;
}

.leftlearnhtml h4 {
  border-radius: 40px;
  padding: 8px 16px;
  background-color: #0d1721;
  color: aliceblue;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.leftlearnhtml a {
  text-decoration: none;
}

.leftlearnhtml h4:hover {
  cursor: pointer;
  color: #ee9209;
}

.rightlearnhtml {
  width: 100%;
  padding: 2.5%;
}

.innerrlh {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #293642;
  border-radius: 10px;
  box-shadow: 1px 11px 35px 10px rgba(29, 42, 53, 1);
}

.innerrlh>h2 {
  color: white;
  padding: 5%;
}

.innerrlhexample {
  display: block;
  position: absolute;
  padding: 2% 0 0 2%;
  top: 20%;
  right: 2%;
  left: 2%;
  width: 93%;
  height: 70%;
  border-radius: 10px;
  background-color: #0d1721;
  overflow: auto;
}

.learncss {
  background-color: #0d1721 !important;
  color: white;
  padding-top: 25px;
  padding-bottom: 35px;
  padding-left: 90px;
  padding-right: 90px;
  display: flex;
  flex-direction: row;
  width: auto;
}

.leftlearncss {
  width: 100%;
  padding: 2.5%;
}

.innerllc {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #293642;
  border-radius: 10px;
  box-shadow: 1px 2px 15px 2px rgba(255, 255, 255, 1);
}

.innerllc>h2 {
  color: white;
  padding: 5%;
}

.innerllcexample {
  display: block;
  position: absolute;
  padding: 1% 0 0 2%;
  top: 20%;
  right: 2%;
  left: 2%;
  width: 93%;
  height: 71%;
  border-radius: 10px;
  background-color: #0d1721;
  overflow: auto;
}

.rightlearncss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5%;
  width: 100%;
  text-align: center;
}

.rightlearncss a {
  text-decoration: none;
}

.rightlearncss h1 {
  font-size: 100px;
  margin: -18px 0 -20px;
  color: #ffffff;
}

.rightlearncss h3 {
  font-size: 19px;
  margin: 22.8px 5px;
  color: #ffffff;
}

.rightlearncss h4 {
  border-radius: 40px;
  padding: 8px 16px;
  background-color: aliceblue;
  color: #0d1721;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.rightlearncss h4:hover {
  background-color: #1d2a35;
  cursor: pointer;
  color: #ee9209;
}

.learnjavascript {
  background-color: aliceblue !important;
  color: #0d1721;
  padding-top: 25px;
  padding-bottom: 35px;
  padding-left: 90px;
  padding-right: 90px;
  display: flex;
  flex-direction: row;
  width: auto;
}

.leftlearnjs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5%;
  width: 100%;
  text-align: center;
}

.leftlearnjs a {
  text-decoration: none;
}

.leftlearnjs h1 {
  font-size: 100px;
  margin: -18px 0 -20px;
  color: #0d1721;
}

.leftlearnjs h3 {
  font-size: 19px;
  margin: 22.8px 5px;
  color: #0d1721;
}

.leftlearnjs h4 {
  border-radius: 40px;
  padding: 8px 16px;
  background-color: #0d1721;
  color: aliceblue;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.leftlearnjs h4:hover {
  background-color: #1d2a35;
  cursor: pointer;
  color: #ee9209;
}

.rightlearnjs {
  width: 100%;
  padding: 2.5%;
}

.innerrlj {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #293642;
  border-radius: 10px;
  box-shadow: 1px 11px 35px 10px rgba(29, 42, 53, 1);
}

.innerrlj>h2 {
  color: white;
  padding: 5%;
}

.innerrljexample {
  display: block;
  position: absolute;
  padding: 2% 0 0 2%;
  top: 20%;
  right: 2%;
  left: 2%;
  width: 93%;
  height: 70%;
  border-radius: 10px;
  background-color: #0d1721;
  overflow: auto;
}

.pagecontentBottomborder {
  padding: 0% 1%;
  border-bottom: 1px solid gray;
}


/* MOBILE STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media only screen and (max-width: 700px) {
  body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro',
      sans-serif;
  }

  .content {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  .learncss {
    background-color: #0d1721 !important;
    color: white;
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .leftlearncss {
    width: 100%;
    padding: 2.5%;
    display: none;
  }

  .rightlearncss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
    width: 100%;
    text-align: center;
  }

  .learnhtml {
    background-color: aliceblue !important;
    color: white;
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: fit-content;
  }

  .leftlearnhtml {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
    width: 100%;
    text-align: center;
  }

  .rightlearnhtml {
    width: 100%;
    padding: 0%;
    display: none;
  }

  .learnjavascript {
    background-color: aliceblue !important;
    color: #0d1721;
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .leftlearnjs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
    width: 100%;
    text-align: center;
  }

  .rightlearnjs {
    width: 100%;
    padding: 0%;
    display: none;
  }

  .leftlearnjs h1 {
    font-size: 80px;
    margin: -18px 0 -20px;
    color: #0d1721;
  }

  .rightlearncss h1,
  .leftlearnhtml h1 {
    font-size: 80px;
    line-height: 1.5;
  }
}

/* to start diplaying none */
@media only screen and (max-width: 850px) {

  .rightlearnjs,
  .leftlearncss,
  .rightlearnhtml {
    display: none;
  }


}


@media only screen and (max-width: 400px) {
  .leftlearnjs h1 {
    font-size: 60px;
    margin: -18px 0 -20px;
    color: #0d1721;
    line-height: 1.5;
  }

  .rightlearncss h1,
  .leftlearnhtml h1 {
    font-size: 60px;
    line-height: 1.5;
  }


}