@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro',
    sans-serif;
}



/* navbar */
.navbar {
  display: flex;
  padding: 0 16px 0 12px;
  margin: 0;
  justify-content: space-between;
  background-color: #1d2a35 !important;
  color: aliceblue;
}

.leftnavstuff {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.leftnavstuff>p {
  padding: 16px 16px;
  font-size: 18px;
  font-weight: 570;
  margin: 0;
}

.rightnavstuff {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightnavstuff>p {
  font-size: 18px;
  font-weight: 570;
  padding: 16px 16px;
  margin: 0;
}