.comingsoon {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0%;
  background-color: #0d1721;
  border-bottom: 2px solid white;
}

.cmshead {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cmshead h1 {
  font-size: 50px;
  margin: 50px 0 10px;
  font-weight: bolder !important;
}

.preview_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 50px;
}

.preview {
  background-color: #1d2a35;
  width: 40%;
  justify-content: stretch;
  margin-bottom: 30px;
  /* border: .9px solid #0d1721; */
  border-radius: 5px;
  padding: 2%;
  color: white;
  height: 200px;
  /* box-shadow: 2px 4px 20px 5px rgb(168, 103, 5, 1); */
  /* box-shadow: 2px 4px 20px 5px #1d2a35; */
}

.preview p {
  font-size: 24px;
  line-height: 1.5;
}

.preview h1 {
  font-size: 45px;
  margin: 10px 0;
  padding: 24px;
}