.root {
    --useful: #b93428;
    --use: #FF9999;
    --midaqua: mediumaquamarine;
    --greyel: greenyellow;
    --orange1: #a86705;
    --orange2: #ee9209;
    --blue2: #1d2a35;
    --blue3: #0d1721;
}

.htmltutbackground {
    background-color: #0d1721;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
}


/* sticky tab */
.stickytab {
    color: white;
    position: sticky;
    top: 0;
    background-color: black;
    width: fit-content;
    height: fit-content;
    padding: 1%;
    display: flex;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
}




/* Left Side Bar */

.leftsidebar{
    background-color: transparent;
    width: 15%;
    padding: 0 1%;
    position: sticky;
    top: 0;
    bottom: 0;
    margin: 0;
    overflow-y: scroll;
    height: 100vh;
}

/* Main Column? */

.pagecontent{
    background-color: transparent;
    margin: 0;
    width: 80%;
    padding: 0 1%;
    display: flex;
    flex-direction: column;
}

.PageContentFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 16px;
    margin: 0;
}

.toprightfootstuff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 16px;
    margin: 0;
}

.toprightfootstuff a {
    text-decoration: none !important;
    color: white;
}

.toprightfootstuff a:hover {
    color: #ee9209;
}




























