@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/* where to begin page */

/* base styles */
.root {
    --htmlorange: #e54d26;
    --cssblue: #3799d6;
    --jsyellow: #f7df1d;
}

.w2bcontent {
    background-color: #282A35;
    padding: 0;
    margin: 0;
}

.wheretobegin {
    color: white;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 70px;
}

.innerw2b {
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 5%;
    text-align: center !important;
}

.innerw2b h1 {
    font-size: 70px;
    margin: 2px 0 -20px;
    font-weight: bolder !important;
}

.innerw2b h3 {
    font-size: 24px;
    margin: 60px 0 10px;
    color: white;
    word-wrap: break-word;
}

.w2bhtml {
    padding: 10%;
    padding-top: 0%;
    display: flex;
    justify-content: center;
}

.w2bhtml a {
    text-decoration: none;
}

/* html ticket 1 */

.w2bhtmlticket {
    background-color: #f7df1d;
    color: black;
    height: 190px;
    width: 500px;
    padding: 1%;
}

.w2bhtmlticket2 {
    background-color: #f7df1d;
    color: black;
    border-left: 5px dotted #282A35;
    height: 190px;
    width: 200px;
    padding: 1%;
}

.hticketcontainer1 {
    transform: rotate(3deg);
    display: flex;
    justify-content: center;
    position: relative;
}

/* ticket2 */

.hticketcontainer2 {
    transform: rotate(-3deg);
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #3799d6;
}

.w2bhtmlticket3 {
    background-color: #3799d6;
    color: black;
    height: 190px;
    width: 500px;
    padding: 1%;
}

.w2bhtmlticket4 {
    background-color: #3799d6;
    color: black;
    height: 190px;
    width: 200px;
    padding: 1%;
    border-left: 5px dotted #282A35;
}

/* ticket 3 */

.hticketcontainer3 {
    transform: rotate(.5deg);
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #e54d26;
}

.w2bhtmlticket5 {
    background-color: #e54d26;
    color: black;
    height: 190px;
    width: 500px;
    border-radius: 20px 0 0 20px;
    padding: 1%;
}

.w2bhtmlticket5 h3 {
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
}

.w2bhtmlticket5 p {
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
}

.w2bhtmlticket5 h4 {
    font-size: 20px;
    border-radius: 10px;
    padding: 8px 8px;
    width: fit-content;
    background-color: #0d1721;
    color: aliceblue;
    word-wrap: break-word;
    border: .5px solid #0d1721;
}

.w2bhtmlticket5 h4:hover {
    background-color: transparent;
    transition: ease-in-out .5s;
    color: #0d1721;
}

.w2bhtmlticket6 {
    background-color: #e54d26;
    color: black;
    height: 190px;
    width: 200px;
    padding: 1%;
    border-left: 5px dotted #282A35;
}

.w2bhtmlticket6 h1 {
    font-size: 50px;
    margin: 0;
    font-weight: bolder;
    text-align: center;
    padding: 5%;
    word-wrap: break-word;
}

/* css ticket 1 */

.w2bcssticket {
    background-color: #e54d26;
    color: black;
    height: 190px;
    width: 500px;
    padding: 1%;
}

.w2bcssticket2 {
    background-color: #e54d26;
    color: black;
    border-left: 5px dotted #282A35;
    height: 190px;
    width: 200px;
    padding: 1%;
}

.cticketcontainer1 {
    transform: rotate(3deg);
    display: flex;
    justify-content: center;
    position: relative;
}

/* ticket2 */

.cticketcontainer2 {
    transform: rotate(-3deg);
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #f7df1d;
}

.w2bcssticket3 {
    background-color: #f7df1d;
    color: black;
    height: 190px;
    width: 500px;
    padding: 1%;
}

.w2bcssticket4 {
    background-color: #f7df1d;
    color: black;
    height: 190px;
    width: 200px;
    padding: 1%;
    border-left: 5px dotted #282A35;
}

/* ticket 3 */

.cticketcontainer3 {
    transform: rotate(.5deg);
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #3799d6;
}

.w2bcssticket5 {
    background-color: #3799d6;
    color: black;
    height: 190px;
    width: 500px;
    padding: 1%;
}

.w2bcssticket5 h3 {
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
}

.w2bcssticket5 p {
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
}

.w2bcssticket5 h4 {
    font-size: 20px;
    border-radius: 10px;
    padding: 8px 8px;
    width: fit-content;
    background-color: #0d1721;
    color: aliceblue;
    word-wrap: break-word;
    border: .5px solid #0d1721;
}

.w2bcssticket5 h4:hover {
    background-color: transparent;
    transition: ease-in-out .5s;
    color: #0d1721;
}

.w2bcssticket6 {
    background-color: #3799d6;
    color: black;
    height: 190px;
    width: 200px;
    padding: 1%;
    border-left: 5px dotted #282A35;
}

.w2bcssticket6 h1 {
    font-size: 50px;
    margin: 0;
    font-weight: bolder;
    text-align: center;
    padding: 5%;
    word-wrap: break-word;
}


/* js ticket 1 */

.w2bjsticket {
    background-color: #3799d6;
    color: black;
    height: 190px;
    width: 500px;
    padding: 1%;
}

.w2bjsticket2 {
    background-color: #3799d6;
    color: black;
    border-left: 5px dotted #282A35;
    height: 190px;
    width: 200px;
    padding: 1%;
}

.jticketcontainer1 {
    transform: rotate(3deg);
    display: flex;
    justify-content: center;
    position: relative;
}

/* ticket2 */

.jticketcontainer2 {
    transform: rotate(-3deg);
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #e54d26;
}

.w2bjsticket3 {
    background-color: #e54d26;
    color: black;
    height: 190px;
    width: 500px;
    padding: 1%;
}

.w2bjsticket4 {
    background-color: #e54d26;
    color: black;
    height: 190px;
    width: 200px;
    padding: 1%;
    border-left: 5px dotted #282A35;
}

/* ticket 3 */

.jticketcontainer3 {
    transform: rotate(.5deg);
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #f7df1d;
}

.w2bjsticket5 {
    background-color: #f7df1d;
    color: black;
    height: 190px;
    width: 500px;
    padding: 1%;
}

.w2bjsticket5 h3 {
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
}

.w2bjsticket5 p {
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
}

.w2bjsticket5 h4 {
    font-size: 20px;
    border-radius: 10px;
    padding: 8px 8px;
    width: fit-content;
    background-color: #0d1721;
    color: aliceblue;
    word-wrap: break-word;
    border: .5px solid #0d1721;
    margin-top: -20px;
}

.w2bjsticket5 h4:hover {
    background-color: transparent;
    transition: ease-in-out .5s;
    color: #0d1721;
}

.w2bjsticket6 {
    background-color: #f7df1d;
    color: black;
    height: 190px;
    width: 200px;
    padding: 1%;
    border-left: 5px dotted #282A35;
}

.w2bjsticket6 h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bolder;
    text-align: center;
    padding: 5%;
    word-wrap: break-word;
}


.w2bjsticket6 h3,
.w2bjsticket6 h4,
.w2bcssticket6 h3,
.w2bcssticket6 h4,
.w2bhtmlticket6 h3,
.w2bhtmlticket6 h4 {
    display: none;
}

/* what's next */

.whatsnext {
    /* background-color: white; */
    background-image: linear-gradient(rgb(229, 77, 38), rgb(55, 153, 214), rgb(247, 223, 29));
    color: #ffffff;
    /* background-image: linear-gradient(rgb(229, 77, 38,0.4), rgb(55, 153, 214, 0.4), rgb(247, 223, 29, 0.4)); */
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 70px;
}

.innerwn {
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 5%;
    text-align: center !important;
}


.innerwn h1 {
    font-size: 70px;
    margin: 10px 0 -20px;
    font-weight: bolder !important;
    word-wrap: break-word;
}

.innerwn h3 {
    font-size: 24px;
    margin: 50px 0 10px;
    word-wrap: break-word;
    line-height: 1.5;
}

.innerwn a {
    text-decoration: underline;
    color: #ffffff !important;
}

.innerwn a:hover {
    text-decoration: none;
}

.nextstep {
    text-decoration: underline;
}

/* hello front end dev */

.fronted {
    text-decoration: underline;
}

.hellofronted {
    background-color: #282A35;
    color: white;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 70px;
}

.innerhfed {
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 5%;
    text-align: center !important;
}


.innerhfed h1 {
    font-size: 70px;
    margin: 10px 0 -20px;
    font-weight: bolder !important;
    word-wrap: break-word;
}

.innerhfed h3 {
    font-size: 24px;
    margin: 50px 0 10px;
    word-wrap: break-word;
    line-height: 1.5;
}

.innerhfed a {
    text-decoration: underline;
    color: white !important;
}

.innerhfed a:hover {
    text-decoration: none;
}

.gradient {
    padding: 20px;
    background-image: linear-gradient(#282A35, #ffffff);
}

/* For the back end */

.bend_un {
    text-decoration: underline;
}

.asfbackend {
    background-color: #ffffff;
    color: #282A35;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 70px;
}

.innerbend {
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 5%;
    text-align: center !important;
}

.innerbend h1 {
    font-size: 70px;
    margin: 10px 0 -20px;
    font-weight: bolder !important;
    word-wrap: break-word;
}

.innerbend h3 {
    font-size: 24px;
    margin: 50px 0 10px;
    word-wrap: break-word;
    line-height: 1.5;
}

.innerbend a {
    text-decoration: underline;
    color: #282A35 !important;
}

.innerbend a:hover {
    text-decoration: none;
}


@media only screen and (max-width: 1160px) {
    /* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .wheretobegin {
        color: white;
        justify-content: center;
        padding-top: 45px;
        padding-bottom: 35px;
    }

    .innerw2b {
        padding-left: 45px;
        padding-right: 45px;
    }

    .innerwn {
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 5%;
        text-align: center !important;
    }

    .innerbend {
        padding-left: 45px;
        padding-right: 45px;
    }

    .innerhfed {
        padding-left: 45px;
        padding-right: 45px;
    }

}

@media only screen and (max-width: 750px) {

    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    .w2bhtmlticket {
        background-color: #f7df1d;
        color: black;
        height: 190px;
        width: 450px;
        padding: 1%;
    }

    .w2bhtmlticket2 {
        background-color: #f7df1d;
        color: black;
        border-left: 5px dotted #282A35;
        height: 190px;
        width: 175px;
        padding: 1%;
    }

    .hticketcontainer1 {
        transform: rotate(3deg);
        display: flex;
        justify-content: center;
        position: relative;
    }

    /* ticket2 */

    .hticketcontainer2 {
        transform: rotate(-3deg);
        display: flex;
        justify-content: center;
        position: absolute;
        background-color: #3799d6;
    }

    .w2bhtmlticket3 {
        background-color: #3799d6;
        color: black;
        height: 190px;
        width: 450px;
        padding: 1%;
    }

    .w2bhtmlticket4 {
        background-color: #3799d6;
        color: black;
        height: 190px;
        width: 175px;
        padding: 1%;
        border-left: 5px dotted #282A35;
    }

    /* ticket 3 */

    .hticketcontainer3 {
        transform: rotate(.5deg);
        display: flex;
        justify-content: center;
        position: absolute;
        background-color: #e54d26;
    }

    .w2bhtmlticket5 {
        background-color: #e54d26;
        color: black;
        height: 190px;
        width: 450px;
        border-radius: 20px 0 0 20px;
        padding: 1%;
    }

    .w2bhtmlticket5 h3 {
        font-size: 20px;
        text-align: center;
        word-wrap: break-word;
    }

    .w2bhtmlticket5 p {
        font-size: 20px;
        text-align: center;
        word-wrap: break-word;
    }

    .w2bhtmlticket5 h4 {
        font-size: 20px;
        border-radius: 10px;
        padding: 8px 8px;
        width: fit-content;
        background-color: #0d1721;
        color: aliceblue;
        word-wrap: break-word;
        border: .5px solid #0d1721;
        margin-top: -15px;
    }

    .w2bhtmlticket5 h4:hover {
        background-color: transparent;
        transition: ease-in-out .5s;
        color: #0d1721;
    }

    .w2bhtmlticket6 {
        background-color: #e54d26;
        color: black;
        height: 190px;
        width: 175px;
        padding: 1%;
        border-left: 5px dotted #282A35;
    }

    .w2bhtmlticket6 h1 {
        font-size: 50px;
        margin: 0;
        font-weight: bolder;
        text-align: center;
        padding: 5%;
        word-wrap: break-word;
    }


    /* css ticket 1 */

    .w2bcssticket {
        background-color: #e54d26;
        color: black;
        height: 190px;
        width: 450px;
        padding: 1%;
    }

    .w2bcssticket2 {
        background-color: #e54d26;
        color: black;
        border-left: 5px dotted #282A35;
        height: 190px;
        width: 175px;
        padding: 1%;
    }

    .cticketcontainer1 {
        transform: rotate(3deg);
        display: flex;
        justify-content: center;
        position: relative;
    }

    /* ticket2 */

    .cticketcontainer2 {
        transform: rotate(-3deg);
        display: flex;
        justify-content: center;
        position: absolute;
        background-color: #f7df1d;
    }

    .w2bcssticket3 {
        background-color: #f7df1d;
        color: black;
        height: 190px;
        width: 450px;
        padding: 1%;
    }

    .w2bcssticket4 {
        background-color: #f7df1d;
        color: black;
        height: 190px;
        width: 175px;
        padding: 1%;
        border-left: 5px dotted #282A35;
    }

    /* ticket 3 */

    .cticketcontainer3 {
        transform: rotate(.5deg);
        display: flex;
        justify-content: center;
        position: absolute;
        background-color: #3799d6;
    }

    .w2bcssticket5 {
        background-color: #3799d6;
        color: black;
        height: 190px;
        width: 450px;
        padding: 1%;
    }

    .w2bcssticket5 h3 {
        font-size: 20px;
        text-align: center;
        word-wrap: break-word;
    }

    .w2bcssticket5 p {
        font-size: 20px;
        text-align: center;
        word-wrap: break-word;
    }

    .w2bcssticket5 h4 {
        font-size: 20px;
        border-radius: 10px;
        padding: 8px 8px;
        width: fit-content;
        background-color: #0d1721;
        color: aliceblue;
        word-wrap: break-word;
        border: .5px solid #0d1721;
        margin-top: -15px;
    }

    .w2bcssticket5 h4:hover {
        background-color: transparent;
        transition: ease-in-out .5s;
        color: #0d1721;
    }

    .w2bcssticket6 {
        background-color: #3799d6;
        color: black;
        height: 190px;
        width: 175px;
        padding: 1%;
        border-left: 5px dotted #282A35;
    }



    .w2bcssticket6 h1 {
        font-size: 50px;
        margin: 0;
        font-weight: bolder;
        text-align: center;
        padding: 5%;
        word-wrap: break-word;
    }


    /* js ticket 1 */

    .w2bjsticket {
        background-color: #3799d6;
        color: black;
        height: 190px;
        width: 450px;
        padding: 1%;
    }

    .w2bjsticket2 {
        background-color: #3799d6;
        color: black;
        border-left: 5px dotted #282A35;
        height: 190px;
        width: 175px;
        padding: 1%;
    }

    .jticketcontainer1 {
        transform: rotate(3deg);
        display: flex;
        justify-content: center;
        position: relative;
    }

    /* ticket2 */

    .jticketcontainer2 {
        transform: rotate(-3deg);
        display: flex;
        justify-content: center;
        position: absolute;
        background-color: #e54d26;
    }

    .w2bjsticket3 {
        background-color: #e54d26;
        color: black;
        height: 190px;
        width: 450px;
        padding: 1%;
    }

    .w2bjsticket4 {
        background-color: #e54d26;
        color: black;
        height: 190px;
        width: 175px;
        padding: 1%;
        border-left: 5px dotted #282A35;
    }

    /* ticket 3 */

    .jticketcontainer3 {
        transform: rotate(.5deg);
        display: flex;
        justify-content: center;
        position: absolute;
        background-color: #f7df1d;
    }

    .w2bjsticket5 {
        background-color: #f7df1d;
        color: black;
        height: 190px;
        width: 450px;
        padding: 1%;
    }

    .w2bjsticket5 h3 {
        font-size: 20px;
        text-align: center;
        word-wrap: break-word;
    }

    .w2bjsticket5 p {
        font-size: 20px;
        text-align: center;
        word-wrap: break-word;
    }

    .w2bjsticket5 h4 {
        font-size: 20px;
        border-radius: 10px;
        padding: 8px 8px;
        width: fit-content;
        background-color: #0d1721;
        color: aliceblue;
        word-wrap: break-word;
        border: .5px solid #0d1721;
        margin-top: -15px;
    }

    .w2bjsticket5 h4:hover {
        background-color: transparent;
        transition: ease-in-out .5s;
        color: #0d1721;
    }

    .w2bjsticket6 {
        background-color: #f7df1d;
        color: black;
        height: 190px;
        width: 175px;
        padding: 1%;
        border-left: 5px dotted #282A35;
    }

    .w2bjsticket6 h1 {
        font-size: 36px;
        margin: 0;
        font-weight: bolder;
        text-align: center;
        padding: 5%;
        word-wrap: break-word;
    }

    .w2bjsticket6 h3,
    .w2bjsticket6 h4,
    .w2bcssticket6 h3,
    .w2bcssticket6 h4,
    .w2bhtmlticket6 h3,
    .w2bhtmlticket6 h4 {
        display: none;
    }

}


@media only screen and (max-width: 700px) {
    /* ///////////////////////////////////////////////////////////////////////////////////////////////////// */


    .w2bhtmlticket,
    .w2bhtmlticket3,
    .w2bhtmlticket5,
    .w2bcssticket,
    .w2bcssticket3,
    .w2bcssticket5,
    .w2bjsticket,
    .w2bjsticket3,
    .w2bjsticket5 {
        display: none;
    }


    .w2bhtmlticket6>h1,
    .w2bjsticket6>h1,
    .w2bcssticket6>h1 {
        font-size: 36px !important;
        padding: 1px;
        margin: 0;
    }


    .w2bjsticket6,
    .w2bjsticket4,
    .w2bjsticket2,
    .w2bcssticket6,
    .w2bcssticket4,
    .w2bcssticket2,
    .w2bhtmlticket6,
    .w2bhtmlticket4,
    .w2bhtmlticket2 {
        color: black;
        height: 275px;
        width: 250px;
        border-left: 5px dotted #282A35;
    }

    .w2bjsticket6 h3,
    .w2bhtmlticket6 h3,
    .w2bcssticket6 h3 {
        display: block;
        font-size: 20px;
        text-align: center;
        word-wrap: break-word;
    }

    .w2bjsticket6 h4,
    .w2bhtmlticket6 h4,
    .w2bcssticket6 h4 {
        display: block;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        padding: 8px 8px;
        width: fit-content;
        background-color: #0d1721;
        color: aliceblue;
        word-wrap: break-word;
        border: .5px solid #0d1721;
    }

}